@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">
    setTimeout(function () {
        window.location.reload(1);
    }, 30000);
</script>
<div class="form-group" style="margin-top:5%;padding-bottom:5%;">
    <div class="col-md-4">
        Download rate = @Session["rate"] kb/sec<br />
    </div>
    <div class="col-md-4">
        RAM = @Session["ram"]  MB <br />
    </div>
    <div class="col-md-4">
        CPU = @Session["cpu"] %
    </div>
</div>
<div>
    <div class="col-md-4">
         @TempData["rateerror"]<br />
    </div>
    <div class="col-md-4">
        @TempData["ramerror"]<br />
    </div>
    <div class="col-md-4">
        @TempData["cpuerror"] 
    </div>
</div>